.feature {
    background-color: #040506;
    width: 100%;
}

.feature-cover {
    width: 100%;
}


.feature-side-image img {
    width: 100%;
    max-width: 500px;
}


.feature-title {
    font-size: 1rem;
}

.feature-description {
    font-size: 0.8rem;
}


@media screen and (min-width: 767px) {
    .feature-title {
        font-size: 2rem;
    }
    
    .feature-description {
        font-size: 1.2rem;
    }
}
