.specification {
    background-color: #040506;
}

.specification img {
    max-width: inherit;
}



.specification-text li {
    font-size: 0.8rem;
}

.specification-text h4 {
    font-size: 1rem;
}


.specification-text h2 {
    font-size: 2rem;
}

@media screen and (min-width: 767px) {
    .specification-text li {
        font-size: 1.2rem;
    }
    .specification-text h4 {
        font-size: 1.4rem;
    }
    .specification-text h2 {
        font-size: 1rem;
    }
}